.header_box{
    width: 100%;
    background-color: rgb(149, 26, 26);
}

.header_top{
    width: 1000px;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.head_logo{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

a{
    text-decoration: none !important;
}

.head_menu{
    color: white;
    font-size: 15px;
    
}
.head_menu a{
    padding: 15px 20px;
    color: white;
}
.head_menu a:hover{
    background-color: rgb(73, 32, 32);
    color: rgb(149, 26, 26);
}

.ads_add{
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: green;
    color: white;
    
}
.ads_add span{
    font-size: 20px;
}

.ads_add i{
    font-size: 25px;
}

.ads_add:hover{
    background-color: rgb(9, 98, 9);
  
    cursor: pointer;
}



.header_bottom{
    width: 1000px;
    margin: auto;
    padding-bottom: 15px;
}

.searching_box{
    display: flex;
}


.price_box input{
    width: 75px;
    height: 40px;
}

.price_home{
    display: flex;
}

.visible_search, .unvisible_search{
    display: flex;
}


.check_box{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.check_box input{
    width: 20px;
    height: 20px;
}

.visible_search > div, .unvisible_search > div{
    display: flex;
    flex-direction: column;
}

.header_line{
    padding: 0;
 
    margin: 0;
    margin-bottom: 10px;
    background-color: white;
}

.searching label{
    padding: 0;
    margin: 0;
    color: white;
}

.searching select{
    height: 40px;
    width: 150px;
}

.addit_btn{
    display: flex;
    margin-top: 2px;
}

.addit_btn div{
    padding: 7px 20px;
    font-size: 17px;
    margin-top: 23px;
    height: 40px;
    border: 1px rgb(56, 56, 56) solid;
}

.additonal_search{
    background-color: white;
    color: brown;
    border: none;
    cursor: pointer;
}

.additonal_search:hover{
    opacity: 0.8;
}

.search_btn{
    background-color: rgb(44, 44, 234);
    color: white;
    cursor: pointer;
}

.search_btn:hover{
    background-color: rgb(25, 25, 238);
}

.unvisible_search{
    display: none !important;
}

.unvisible_search.active{
    display: flex !important;
    margin-top: 10px;
}

.head_logo i{
    display: none;
}

@media only screen and (max-width:600px){
    .header_top{
        width: 90%;
    }
    .header_bottom{
        width: 100%;
    }

    .searching_box{
        width: 100%;
       
    }

    .unvisible_search{
        display: flex !important;
    }

    .visible_search, .unvisible_search{
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }

    .visible_search > div, .unvisible_search > div{
        width: 100%;
    }

    .visible_search > div select, .unvisible_search > div select{
        width: 100%;
    }

    .price_home input{
        width: 50%;
    }

    .searching_box{
        flex-direction: column;
    }

    .addit_btn{
        display: block;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .additonal_search{
        display: none;
    }
    .head_logo{
        font-size: 80%;
    }
    .ads_add span, .ads_add i{
        font-size: 12px;
    }

    .head_menu{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 155px;
        background-color: rgb(149, 26, 26);
    }

    .head_menu.active{
        display: block;
    }
    .head_menu a{
        display: block;
    }

    .head_logo i{
        display: inline-block;
    }
}

